@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --2xl-medium-font-family: "SFPro Text-Medium", Helvetica;
  --2xl-medium-font-size: 24px;
  --2xl-medium-font-style: normal;
  --2xl-medium-font-weight: 500;
  --2xl-medium-letter-spacing: 0px;
  --2xl-medium-line-height: 32px;
  --2xl-regular-font-family: "SFPro Text-Regular", Helvetica;
  --2xl-regular-font-size: 24px;
  --2xl-regular-font-style: normal;
  --2xl-regular-font-weight: 400;
  --2xl-regular-letter-spacing: 0px;
  --2xl-regular-line-height: 32px;
  --2xl-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --2xl-semibold-font-size: 24px;
  --2xl-semibold-font-style: normal;
  --2xl-semibold-font-weight: 400;
  --2xl-semibold-letter-spacing: 0px;
  --2xl-semibold-line-height: 32px;
  --3xl-medium-font-family: "SFPro Text-Medium", Helvetica;
  --3xl-medium-font-size: 30px;
  --3xl-medium-font-style: normal;
  --3xl-medium-font-weight: 500;
  --3xl-medium-letter-spacing: 0px;
  --3xl-medium-line-height: 36px;
  --3xl-regular-font-family: "SFPro Text-Regular", Helvetica;
  --3xl-regular-font-size: 30px;
  --3xl-regular-font-style: normal;
  --3xl-regular-font-weight: 400;
  --3xl-regular-letter-spacing: 0px;
  --3xl-regular-line-height: 36px;
  --3xl-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --3xl-semibold-font-size: 30px;
  --3xl-semibold-font-style: normal;
  --3xl-semibold-font-weight: 400;
  --3xl-semibold-letter-spacing: 0px;
  --3xl-semibold-line-height: 36px;
  --4xl-medium-font-family: "SFPro Text-Medium", Helvetica;
  --4xl-medium-font-size: 36px;
  --4xl-medium-font-style: normal;
  --4xl-medium-font-weight: 500;
  --4xl-medium-letter-spacing: 0px;
  --4xl-medium-line-height: 40px;
  --4xl-regular-font-family: "SFPro Text-Regular", Helvetica;
  --4xl-regular-font-size: 36px;
  --4xl-regular-font-style: normal;
  --4xl-regular-font-weight: 400;
  --4xl-regular-letter-spacing: 0px;
  --4xl-regular-line-height: 40px;
  --4xl-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --4xl-semibold-font-size: 36px;
  --4xl-semibold-font-style: normal;
  --4xl-semibold-font-weight: 400;
  --4xl-semibold-letter-spacing: 0px;
  --4xl-semibold-line-height: 40px;
  --5xl-medium-font-family: "SFPro Text-Medium", Helvetica;
  --5xl-medium-font-size: 48px;
  --5xl-medium-font-style: normal;
  --5xl-medium-font-weight: 500;
  --5xl-medium-letter-spacing: 0px;
  --5xl-medium-line-height: 48px;
  --5xl-regular-font-family: "SFPro Text-Regular", Helvetica;
  --5xl-regular-font-size: 48px;
  --5xl-regular-font-style: normal;
  --5xl-regular-font-weight: 400;
  --5xl-regular-letter-spacing: 0px;
  --5xl-regular-line-height: 48px;
  --5xl-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --5xl-semibold-font-size: 48px;
  --5xl-semibold-font-style: normal;
  --5xl-semibold-font-weight: 400;
  --5xl-semibold-letter-spacing: 0px;
  --5xl-semibold-line-height: 48px;
  --base-medium-font-family: "SFPro Text-Medium", Helvetica;
  --base-medium-font-size: 16px;
  --base-medium-font-style: normal;
  --base-medium-font-weight: 500;
  --base-medium-letter-spacing: 0px;
  --base-medium-line-height: 24px;
  --base-regular-font-family: "SFPro Text-Regular", Helvetica;
  --base-regular-font-size: 16px;
  --base-regular-font-style: normal;
  --base-regular-font-weight: 400;
  --base-regular-letter-spacing: 0px;
  --base-regular-line-height: 24px;
  --base-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --base-semibold-font-size: 16px;
  --base-semibold-font-style: normal;
  --base-semibold-font-weight: 400;
  --base-semibold-letter-spacing: 0px;
  --base-semibold-line-height: 24px;
  --border-radius-rounded: 4px;
  --border-radius-rounded-2xl: 16px;
  --border-radius-rounded-3xl: 20px;
  --border-radius-rounded-full: 999px;
  --border-radius-rounded-lg: 8px;
  --border-radius-rounded-md: 6px;
  --border-radius-rounded-none: 0px;
  --border-radius-rounded-sm: 2px;
  --border-radius-rounded-xl: 12px;
  --brand-colors-background-bg-brand: var(--primitive-colors-don-t-use-these-or-edit-these-lime-green-600);
  --brand-colors-background-bg-brand-hovered: var(--primitive-colors-don-t-use-these-or-edit-these-lime-green-500);
  --brand-colors-background-bg-danger: var(--primitive-colors-don-t-use-these-or-edit-these-red-red-600);
  --brand-colors-background-bg-danger-hovered: var(--primitive-colors-don-t-use-these-or-edit-these-red-red-500);
  --brand-colors-background-bg-disabled: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-100);
  --brand-colors-background-bg-error: var(--primitive-colors-don-t-use-these-or-edit-these-red-red-50);
  --brand-colors-background-bg-info: var(--primitive-colors-don-t-use-these-or-edit-these-sky-sky-50);
  --brand-colors-background-bg-primary: var(--primitive-colors-don-t-use-these-or-edit-these-white);
  --brand-colors-background-bg-primary-hovered: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-50);
  --brand-colors-background-bg-secondary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-100);
  --brand-colors-background-bg-secondary-hovered: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-50);
  --brand-colors-background-bg-success: var(--primitive-colors-don-t-use-these-or-edit-these-lime-green-50);
  --brand-colors-background-bg-tertiary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-50);
  --brand-colors-background-bg-warning: var(--primitive-colors-don-t-use-these-or-edit-these-amber-amber-50);
  --brand-colors-foreground-fg-brand: var(--primitive-colors-don-t-use-these-or-edit-these-lime-green-600);
  --brand-colors-foreground-fg-default: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-400);
  --brand-colors-foreground-fg-disabled: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-300);
  --brand-colors-foreground-fg-error: var(--primitive-colors-don-t-use-these-or-edit-these-red-red-500);
  --brand-colors-foreground-fg-info: var(--primitive-colors-don-t-use-these-or-edit-these-sky-sky-700);
  --brand-colors-foreground-fg-invert: var(--primitive-colors-don-t-use-these-or-edit-these-white);
  --brand-colors-foreground-fg-primary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-700);
  --brand-colors-foreground-fg-secondary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-500);
  --brand-colors-foreground-fg-success: var(--primitive-colors-don-t-use-these-or-edit-these-lime-green-700);
  --brand-colors-foreground-fg-warning: var(--primitive-colors-don-t-use-these-or-edit-these-amber-amber-700);
  --brand-colors-outline-outline-active: var(--primitive-colors-don-t-use-these-or-edit-these-lime-green-500);
  --brand-colors-outline-outline-error: var(--primitive-colors-don-t-use-these-or-edit-these-red-red-500);
  --brand-colors-outline-outline-primary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-300);
  --brand-colors-outline-outline-secondary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-200);
  --brand-colors-outline-outline-tertiary: var(--primitive-colors-don-t-use-these-or-edit-these-gray-gray-100);
  --distance-padding-margin-0: 0px;
  --distance-padding-margin-d-0p5: 2px;
  --distance-padding-margin-d-1: 4px;
  --distance-padding-margin-d-10: 40px;
  --distance-padding-margin-d-11: 44px;
  --distance-padding-margin-d-12: 48px;
  --distance-padding-margin-d-14: 56px;
  --distance-padding-margin-d-16: 64px;
  --distance-padding-margin-d-1p5: 6px;
  --distance-padding-margin-d-2: 8px;
  --distance-padding-margin-d-20: 80px;
  --distance-padding-margin-d-24: 96px;
  --distance-padding-margin-d-28: 112px;
  --distance-padding-margin-d-2p5: 10px;
  --distance-padding-margin-d-3: 12px;
  --distance-padding-margin-d-32: 128px;
  --distance-padding-margin-d-36: 144px;
  --distance-padding-margin-d-3p5: 14px;
  --distance-padding-margin-d-4: 16px;
  --distance-padding-margin-d-40: 160px;
  --distance-padding-margin-d-44: 176px;
  --distance-padding-margin-d-48: 192px;
  --distance-padding-margin-d-5: 20px;
  --distance-padding-margin-d-52: 208px;
  --distance-padding-margin-d-56: 224px;
  --distance-padding-margin-d-6: 24px;
  --distance-padding-margin-d-60: 240px;
  --distance-padding-margin-d-64: 256px;
  --distance-padding-margin-d-7: 28px;
  --distance-padding-margin-d-72: 288px;
  --distance-padding-margin-d-8: 32px;
  --distance-padding-margin-d-80: 320px;
  --distance-padding-margin-d-9: 36px;
  --distance-padding-margin-d-96: 384px;
  --lg-medium-font-family: "SFPro Text-Medium", Helvetica;
  --lg-medium-font-size: 18px;
  --lg-medium-font-style: normal;
  --lg-medium-font-weight: 500;
  --lg-medium-letter-spacing: 0px;
  --lg-medium-line-height: 28px;
  --lg-regular-font-family: "SFPro Text-Regular", Helvetica;
  --lg-regular-font-size: 18px;
  --lg-regular-font-style: normal;
  --lg-regular-font-weight: 400;
  --lg-regular-letter-spacing: 0px;
  --lg-regular-line-height: 28px;
  --lg-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --lg-semibold-font-size: 18px;
  --lg-semibold-font-style: normal;
  --lg-semibold-font-weight: 400;
  --lg-semibold-letter-spacing: 0px;
  --lg-semibold-line-height: 28px;
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-100: rgba(254, 243, 199, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-200: rgba(253, 230, 138, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-300: rgba(252, 211, 77, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-400: rgba(251, 191, 36, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-50: rgba(255, 251, 235, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-500: rgba(245, 158, 11, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-600: rgba(217, 119, 6, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-700: rgba(180, 83, 9, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-800: rgba(146, 64, 14, 1);
  --primitive-colors-don-t-use-these-or-edit-these-amber-amber-900: rgba(120, 53, 15, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-100: rgba(250, 232, 255, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-200: rgba(245, 208, 254, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-300: rgba(240, 171, 252, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-400: rgba(232, 121, 249, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-50: rgba(253, 244, 255, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-500: rgba(217, 70, 239, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-600: rgba(192, 38, 211, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-700: rgba(162, 28, 175, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-800: rgba(134, 25, 143, 1);
  --primitive-colors-don-t-use-these-or-edit-these-fuchsia-fuchsia-900: rgba(112, 26, 117, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-100: rgba(243, 244, 246, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-200: rgba(229, 231, 235, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-300: rgba(209, 213, 219, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-400: rgba(156, 163, 175, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-50: rgba(249, 250, 251, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-500: rgba(107, 114, 128, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-600: rgba(75, 85, 99, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-700: rgba(55, 65, 81, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-800: rgba(31, 41, 55, 1);
  --primitive-colors-don-t-use-these-or-edit-these-gray-gray-900: rgba(17, 24, 39, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-100: rgba(220, 252, 231, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-200: rgba(187, 247, 208, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-300: rgba(134, 239, 172, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-400: rgba(74, 222, 128, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-50: rgba(240, 253, 244, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-500: rgba(34, 197, 94, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-600: rgba(22, 163, 74, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-700: rgba(21, 128, 61, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-800: rgba(22, 101, 52, 1);
  --primitive-colors-don-t-use-these-or-edit-these-lime-green-900: rgba(20, 83, 45, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-100: rgba(254, 226, 226, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-200: rgba(254, 202, 202, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-300: rgba(252, 165, 165, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-400: rgba(248, 113, 113, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-50: rgba(254, 242, 242, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-500: rgba(239, 68, 68, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-600: rgba(220, 38, 38, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-700: rgba(185, 28, 28, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-800: rgba(153, 27, 27, 1);
  --primitive-colors-don-t-use-these-or-edit-these-red-red-900: rgba(127, 29, 29, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-100: rgba(224, 242, 254, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-200: rgba(186, 230, 253, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-300: rgba(125, 211, 252, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-400: rgba(56, 189, 248, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-50: rgba(240, 249, 255, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-500: rgba(14, 165, 233, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-600: rgba(2, 132, 199, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-700: rgba(3, 105, 161, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-800: rgba(7, 89, 133, 1);
  --primitive-colors-don-t-use-these-or-edit-these-sky-sky-900: rgba(12, 74, 110, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-100: rgba(204, 251, 241, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-200: rgba(153, 246, 228, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-300: rgba(94, 234, 212, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-400: rgba(45, 212, 191, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-50: rgba(240, 253, 250, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-500: rgba(20, 184, 166, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-600: rgba(13, 148, 136, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-700: rgba(15, 118, 110, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-800: rgba(17, 94, 89, 1);
  --primitive-colors-don-t-use-these-or-edit-these-teal-teal-900: rgba(19, 78, 74, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-100: rgba(237, 233, 254, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-200: rgba(221, 214, 254, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-300: rgba(196, 181, 253, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-400: rgba(167, 139, 250, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-50: rgba(245, 243, 255, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-500: rgba(139, 92, 246, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-600: rgba(124, 58, 237, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-700: rgba(109, 40, 217, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-800: rgba(91, 33, 182, 1);
  --primitive-colors-don-t-use-these-or-edit-these-violet-violet-900: rgba(76, 29, 149, 1);
  --primitive-colors-don-t-use-these-or-edit-these-white: rgba(255, 255, 255, 1);
  --shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: ;
  --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.05), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  --sm-medium-font-family: "SFPro Text-Medium", Helvetica;
  --sm-medium-font-size: 14px;
  --sm-medium-font-style: normal;
  --sm-medium-font-weight: 500;
  --sm-medium-letter-spacing: 0px;
  --sm-medium-line-height: 20px;
  --sm-regular-font-family: "SFPro Text-Regular", Helvetica;
  --sm-regular-font-size: 14px;
  --sm-regular-font-style: normal;
  --sm-regular-font-weight: 400;
  --sm-regular-letter-spacing: 0px;
  --sm-regular-line-height: 20px;
  --sm-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --sm-semibold-font-size: 14px;
  --sm-semibold-font-style: normal;
  --sm-semibold-font-weight: 400;
  --sm-semibold-letter-spacing: 0px;
  --sm-semibold-line-height: 20px;
  --testing-count: 0px;
  --testing-variable: 0px;
  --xl-medium-font-family: "SFPro Text-Medium", Helvetica;
  --xl-medium-font-size: 20px;
  --xl-medium-font-style: normal;
  --xl-medium-font-weight: 500;
  --xl-medium-letter-spacing: 0px;
  --xl-medium-line-height: 28px;
  --xl-regular-font-family: "SFPro Text-Regular", Helvetica;
  --xl-regular-font-size: 20px;
  --xl-regular-font-style: normal;
  --xl-regular-font-weight: 400;
  --xl-regular-letter-spacing: 0px;
  --xl-regular-line-height: 28px;
  --xl-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --xl-semibold-font-size: 20px;
  --xl-semibold-font-style: normal;
  --xl-semibold-font-weight: 400;
  --xl-semibold-letter-spacing: 0px;
  --xl-semibold-line-height: 28px;
  --xs-bold-font-family: "SFPro Text-Bold", Helvetica;
  --xs-bold-font-size: 12px;
  --xs-bold-font-style: normal;
  --xs-bold-font-weight: 700;
  --xs-bold-letter-spacing: 0px;
  --xs-bold-line-height: 16px;
  --xs-medium-font-family: "SFPro Text-Medium", Helvetica;
  --xs-medium-font-size: 12px;
  --xs-medium-font-style: normal;
  --xs-medium-font-weight: 500;
  --xs-medium-letter-spacing: 0px;
  --xs-medium-line-height: 16px;
  --xs-regular-font-family: "SFPro Text-Regular", Helvetica;
  --xs-regular-font-size: 12px;
  --xs-regular-font-style: normal;
  --xs-regular-font-weight: 400;
  --xs-regular-letter-spacing: 0px;
  --xs-regular-line-height: 16px;
  --xs-semibold-font-family: "SFPro Text-Semibold", Helvetica;
  --xs-semibold-font-size: 12px;
  --xs-semibold-font-style: normal;
  --xs-semibold-font-weight: 400;
  --xs-semibold-letter-spacing: 0px;
  --xs-semibold-line-height: 16px;
}
