@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primarycolor: #22c55e;
  --primarytextcolor: #16a34a;
  --primarysoftbg: #dcfce7;
  --primarytext: #374151;
  --bordersecondary: #d1d5db;
  --secondarycolor: #f9fafb;
  --secondarytext: #6b7280;
}

@layer components {
  .active-checkbox:has(input:checked) {
    @apply bg-bg-success border-outline-active border-2;
  }
}

.star-ratings {
  display: flex !important;
}

#chat-container::-webkit-scrollbar {
  display: none;
}
#chat-container {
  scrollbar-width: none;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.heroBgSection{
  background-image: url('./images/heroBg.png') !important;
  background-repeat: no-repeat;
}

/* .heroSection{
  background-image: linear-gradient(to right, #ffffff, #effbff, #ccfdff, #affff8, #b4fbcd);
} */